$main-header: #000000;

.red-thumbnail {
  background: #FF0014;
}

.orange-thumbnail {
  background: #FF7523;
}

.yellow-thumbnail {
  background: #FFDD3C;
}

.green-thumbnail {
  background: #009923;
}

.blue-thumbnail {
  background: #1D2CF8;
}

.purple-thumbnail {
  background: #CA1697;
}