.slide-content {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

.swiper-slide {
  h1 {
    color: white;
    width: 253px;
  }

  h2 {
    color: #FF6520;
  }
}

.first-slide {
  background-image: url("/img/generic1.png");
}

.second-slide {
  background-image: url("/img/generic2.jpg");
}

.third-slide {
  background-image: url("/img/generic2.jpg");
}

.fourth-slide {
  background-image: url("/img/generic3.jpg");
}

.fifth-slide {
  background-image: url("/img/generic4.jpg");
}

.sixth-slide {
  background-image: url("/img/generic5.jpg");
}


