@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: 0 0;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/*!
*  - v1.3
* Homepage: http://bqworks.com/slider-pro/
* Author: bqworks
* Author URL: http://bqworks.com/
*/
.slider-pro {
  position: relative;
  margin: 0 auto;
  box-sizing: content-box;
}

.sp-slides-container {
  position: relative;
}

.sp-mask {
  position: relative;
  overflow: hidden;
}

.sp-slides {
  position: relative;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

.sp-slide {
  position: absolute;
}

.sp-image-container {
  overflow: hidden;
}

.sp-image {
  position: relative;
  display: block;
  border: none;
}

.sp-no-js {
  overflow: hidden;
  max-width: 100%;
}

.sp-thumbnails-container {
  position: relative;
  overflow: hidden;
  direction: ltr;
}

.sp-bottom-thumbnails, .sp-top-thumbnails {
  left: 0;
  margin: 0 auto;
}

.sp-top-thumbnails {
  position: absolute;
  top: 0;
  margin-bottom: 4px;
}

.sp-bottom-thumbnails {
  margin-top: 4px;
}

.sp-left-thumbnails, .sp-right-thumbnails {
  position: absolute;
  top: 0;
}

.sp-right-thumbnails {
  right: 0;
  margin-left: 4px;
}

.sp-left-thumbnails {
  left: 0;
  margin-right: 4px;
}

.sp-thumbnails {
  position: relative;
}

.sp-thumbnail {
  border: none;
}

.sp-thumbnail-container {
  position: relative;
  display: block;
  overflow: hidden;
  float: left;
  box-sizing: border-box;
}

.sp-rtl .sp-thumbnail-container {
  float: right;
}

.sp-bottom-thumbnails .sp-thumbnail-container, .sp-top-thumbnails .sp-thumbnail-container {
  margin-left: 2px;
  margin-right: 2px;
}

.sp-bottom-thumbnails .sp-thumbnail-container:first-child, .sp-top-thumbnails .sp-thumbnail-container:first-child {
  margin-left: 0;
}

.sp-bottom-thumbnails .sp-thumbnail-container:last-child, .sp-top-thumbnails .sp-thumbnail-container:last-child {
  margin-right: 0;
}

.sp-left-thumbnails .sp-thumbnail-container, .sp-right-thumbnails .sp-thumbnail-container {
  margin-top: 2px;
  margin-bottom: 2px;
}

.sp-left-thumbnails .sp-thumbnail-container:first-child, .sp-right-thumbnails .sp-thumbnail-container:first-child {
  margin-top: 0;
}

.sp-left-thumbnails .sp-thumbnail-container:last-child, .sp-right-thumbnails .sp-thumbnail-container:last-child {
  margin-bottom: 0;
}

.sp-right-thumbnails.sp-has-pointer {
  margin-left: -13px;
}

.sp-right-thumbnails.sp-has-pointer .sp-thumbnail {
  position: absolute;
  left: 18px;
  margin-left: 0 !important;
}

.sp-right-thumbnails.sp-has-pointer .sp-selected-thumbnail:before {
  content: '';
  position: absolute;
  height: 100%;
  border-left: 5px solid red;
  left: 0;
  top: 0;
  margin-left: 13px;
}

.sp-right-thumbnails.sp-has-pointer .sp-selected-thumbnail:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  top: 50%;
  margin-top: -8px;
  border-right: 13px solid red;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.sp-left-thumbnails.sp-has-pointer {
  margin-right: -13px;
}

.sp-left-thumbnails.sp-has-pointer .sp-thumbnail {
  position: absolute;
  right: 18px;
}

.sp-left-thumbnails.sp-has-pointer .sp-selected-thumbnail:before {
  content: '';
  position: absolute;
  height: 100%;
  border-left: 5px solid red;
  right: 0;
  top: 0;
  margin-right: 13px;
}

.sp-left-thumbnails.sp-has-pointer .sp-selected-thumbnail:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  right: 0;
  top: 50%;
  margin-top: -8px;
  border-left: 13px solid red;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.sp-bottom-thumbnails.sp-has-pointer {
  margin-top: -13px;
}

.sp-bottom-thumbnails.sp-has-pointer .sp-thumbnail {
  position: absolute;
  top: 18px;
  margin-top: 0 !important;
}

.sp-bottom-thumbnails.sp-has-pointer .sp-selected-thumbnail:before {
  content: '';
  position: absolute;
  width: 100%;
  border-bottom: 5px solid red;
  top: 0;
  margin-top: 13px;
}

.sp-bottom-thumbnails.sp-has-pointer .sp-selected-thumbnail:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: 0;
  margin-left: -8px;
  border-bottom: 13px solid red;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.sp-top-thumbnails.sp-has-pointer {
  margin-bottom: -13px;
}

.sp-top-thumbnails.sp-has-pointer .sp-thumbnail {
  position: absolute;
  bottom: 18px;
}

.sp-top-thumbnails.sp-has-pointer .sp-selected-thumbnail:before {
  content: '';
  position: absolute;
  width: 100%;
  border-bottom: 5px solid red;
  bottom: 0;
  margin-bottom: 13px;
}

.sp-top-thumbnails.sp-has-pointer .sp-selected-thumbnail:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  bottom: 0;
  margin-left: -8px;
  border-top: 13px solid red;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.sp-layer {
  position: absolute;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-backface-visibility: hidden;
}

.sp-black {
  color: #FFF;
  background: #000;
  background: rgba(0, 0, 0, 0.7);
}

.sp-white {
  color: #000;
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
}

.sp-rounded {
  border-radius: 10px;
}

.sp-padding {
  padding: 10px;
}

.sp-grab {
  cursor: url(images/openhand.cur), move;
}

.sp-grabbing {
  cursor: url(images/closedhand.cur), move;
}

.sp-selectable {
  cursor: default;
}

.sp-caption-container {
  text-align: center;
  margin-top: 10px;
}

.sp-full-screen {
  margin: 0 !important;
  background-color: #000;
}

.sp-full-screen-button {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 30px;
  line-height: 1;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sp-full-screen-button:before {
  content: '\2195';
}

.sp-fade-full-screen {
  opacity: 0;
  transition: opacity .5s;
}

.slider-pro:hover .sp-fade-full-screen {
  opacity: 1;
}

.sp-buttons {
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.sp-rtl .sp-buttons {
  direction: rtl;
}

.sp-full-screen .sp-buttons {
  display: none;
}

.sp-button {
  width: 10px;
  height: 10px;
  border: 2px solid #000;
  border-radius: 50%;
  margin: 4px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
}

.sp-selected-button {
  background-color: #000;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .sp-button {
    width: 14px;
    height: 14px;
  }
}

@media only screen and (min-width: 568px) and (max-width: 768px) {
  .sp-button {
    width: 16px;
    height: 16px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
  .sp-button {
    width: 18px;
    height: 18px;
  }
}

.sp-arrows {
  position: absolute;
}

.sp-fade-arrows {
  opacity: 0;
  transition: opacity .5s;
}

.sp-slides-container:hover .sp-fade-arrows {
  opacity: 1;
}

.sp-horizontal .sp-arrows {
  width: 100%;
  left: 0;
  top: 50%;
  margin-top: -15px;
}

.sp-vertical .sp-arrows {
  height: 100%;
  left: 50%;
  top: 0;
  margin-left: -10px;
}

.sp-arrow {
  position: absolute;
  display: block;
  width: 20px;
  height: 30px;
  cursor: pointer;
}

.sp-vertical .sp-arrow {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sp-horizontal .sp-previous-arrow {
  left: 20px;
  right: auto;
}

.sp-horizontal .sp-next-arrow, .sp-horizontal.sp-rtl .sp-previous-arrow {
  right: 20px;
  left: auto;
}

.sp-horizontal.sp-rtl .sp-next-arrow {
  left: 20px;
  right: auto;
}

.sp-vertical .sp-previous-arrow {
  top: 20px;
}

.sp-vertical .sp-next-arrow {
  bottom: 20px;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.sp-next-arrow:after, .sp-next-arrow:before, .sp-previous-arrow:after, .sp-previous-arrow:before {
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: #FFF;
}

.sp-arrow:before {
  left: 30%;
  top: 0;
  -webkit-transform: skew(145deg, 0deg);
  transform: skew(145deg, 0deg);
}

.sp-arrow:after {
  left: 30%;
  top: 50%;
  -webkit-transform: skew(-145deg, 0deg);
  transform: skew(-145deg, 0deg);
}

.sp-horizontal.sp-rtl .sp-previous-arrow, .sp-next-arrow {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sp-horizontal.sp-rtl .sp-next-arrow {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.ie7 .sp-arrow, .ie8 .sp-arrow {
  width: 0;
  height: 0;
}

.ie7 .sp-arrow:after, .ie7 .sp-arrow:before, .ie8 .sp-arrow:after, .ie8 .sp-arrow:before {
  content: none;
}

.ie7.sp-horizontal .sp-previous-arrow, .ie8.sp-horizontal .sp-previous-arrow {
  border-right: 20px solid #FFF;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.ie7.sp-horizontal .sp-next-arrow, .ie8.sp-horizontal .sp-next-arrow {
  border-left: 20px solid #FFF;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.ie7.sp-vertical .sp-previous-arrow, .ie8.sp-vertical .sp-previous-arrow {
  border-bottom: 20px solid #FFF;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.ie7.sp-vertical .sp-next-arrow, .ie8.sp-vertical .sp-next-arrow {
  border-top: 20px solid #FFF;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}

.sp-thumbnail-arrows {
  position: absolute;
}

.sp-fade-thumbnail-arrows {
  opacity: 0;
  transition: opacity .5s;
}

.sp-thumbnails-container:hover .sp-fade-thumbnail-arrows {
  opacity: 1;
}

.sp-bottom-thumbnails .sp-thumbnail-arrows, .sp-top-thumbnails .sp-thumbnail-arrows {
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -12px;
}

.sp-left-thumbnails .sp-thumbnail-arrows, .sp-right-thumbnails .sp-thumbnail-arrows {
  height: 100%;
  top: 0;
  left: 50%;
  margin-left: -7px;
}

.sp-thumbnail-arrow {
  position: absolute;
  display: block;
  width: 15px;
  height: 25px;
  cursor: pointer;
}

.sp-left-thumbnails .sp-thumbnail-arrows .sp-thumbnail-arrow, .sp-right-thumbnails .sp-thumbnail-arrows .sp-thumbnail-arrow {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sp-bottom-thumbnails .sp-previous-thumbnail-arrow, .sp-top-thumbnails .sp-previous-thumbnail-arrow {
  left: 0;
}

.sp-bottom-thumbnails .sp-next-thumbnail-arrow, .sp-top-thumbnails .sp-next-thumbnail-arrow {
  right: 0;
}

.sp-left-thumbnails .sp-previous-thumbnail-arrow, .sp-right-thumbnails .sp-previous-thumbnail-arrow {
  top: 0;
}

.sp-left-thumbnails .sp-next-thumbnail-arrow, .sp-right-thumbnails .sp-next-thumbnail-arrow {
  bottom: 0;
}

.sp-next-thumbnail-arrow:after, .sp-next-thumbnail-arrow:before, .sp-previous-thumbnail-arrow:after, .sp-previous-thumbnail-arrow:before {
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: #FFF;
}

.sp-previous-thumbnail-arrow:before {
  left: 30%;
  top: 0;
  -webkit-transform: skew(145deg, 0deg);
  transform: skew(145deg, 0deg);
}

.sp-previous-thumbnail-arrow:after {
  left: 30%;
  top: 50%;
  -webkit-transform: skew(-145deg, 0deg);
  transform: skew(-145deg, 0deg);
}

.sp-next-thumbnail-arrow:before {
  right: 30%;
  top: 0;
  -webkit-transform: skew(35deg, 0deg);
  transform: skew(35deg, 0deg);
}

.sp-next-thumbnail-arrow:after {
  right: 30%;
  top: 50%;
  -webkit-transform: skew(-35deg, 0deg);
  transform: skew(-35deg, 0deg);
}

.ie7 .sp-thumbnail-arrow, .ie8 .sp-thumbnail-arrow {
  width: 0;
  height: 0;
}

.ie7 .sp-thumbnail-arrow:after, .ie7 .sp-thumbnail-arrow:before, .ie8 .sp-thumbnail-arrow:after, .ie8 .sp-thumbnail-arrow:before {
  content: none;
}

.ie7 .sp-bottom-thumbnails .sp-previous-thumbnail-arrow, .ie7 .sp-top-thumbnails .sp-previous-thumbnail-arrow, .ie8 .sp-bottom-thumbnails .sp-previous-thumbnail-arrow, .ie8 .sp-top-thumbnails .sp-previous-thumbnail-arrow {
  border-right: 12px solid #FFF;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}

.ie7 .sp-bottom-thumbnails .sp-next-thumbnail-arrow, .ie7 .sp-top-thumbnails .sp-next-thumbnail-arrow, .ie8 .sp-bottom-thumbnails .sp-next-thumbnail-arrow, .ie8 .sp-top-thumbnails .sp-next-thumbnail-arrow {
  border-left: 12px solid #FFF;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}

.ie7 .sp-left-thumbnails .sp-previous-thumbnail-arrow, .ie7 .sp-right-thumbnails .sp-previous-thumbnail-arrow, .ie8 .sp-left-thumbnails .sp-previous-thumbnail-arrow, .ie8 .sp-right-thumbnails .sp-previous-thumbnail-arrow {
  border-bottom: 12px solid #FFF;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.ie7 .sp-left-thumbnails .sp-next-thumbnail-arrow, .ie7 .sp-right-thumbnails .sp-next-thumbnail-arrow, .ie8 .sp-left-thumbnails .sp-next-thumbnail-arrow, .ie8 .sp-right-thumbnails .sp-next-thumbnail-arrow {
  border-top: 12px solid #FFF;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

a.sp-video {
  text-decoration: none;
}

a.sp-video img {
  -webkit-backface-visibility: hidden;
  border: none;
}

a.sp-video:after {
  content: '\25B6';
  position: absolute;
  width: 45px;
  padding-left: 5px;
  height: 50px;
  border: 2px solid #FFF;
  text-align: center;
  font-size: 30px;
  border-radius: 30px;
  top: 0;
  color: #FFF;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  margin: auto;
  line-height: 52px;
}

.slider-pro img.sp-image, .slider-pro img.sp-thumbnail {
  max-width: none;
  max-height: none;
  border: none !important;
  border-radius: 0 !important;
  padding: 0 !important;
  -mox-box-shadow: none !important;
  box-shadow: none !important;
  transition: none;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
}

.slider-pro a {
  position: static;
  transition: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -o-transition: none !important;
}

.slider-pro canvas, .slider-pro embed, .slider-pro iframe, .slider-pro object, .slider-pro video {
  max-width: none;
  max-height: none;
}

.slider-pro p.sp-layer {
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
}

.slider-pro h1.sp-layer {
  font-size: 32px;
  line-height: 1.4;
  margin: 0;
}

.slider-pro h2.sp-layer {
  font-size: 24px;
  line-height: 1.4;
  margin: 0;
}

.slider-pro h3.sp-layer {
  font-size: 19px;
  line-height: 1.4;
  margin: 0;
}

.slider-pro h4.sp-layer {
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
}

.slider-pro h5.sp-layer {
  font-size: 13px;
  line-height: 1.4;
  margin: 0;
}

.slider-pro h6.sp-layer {
  font-size: 11px;
  line-height: 1.4;
  margin: 0;
}

.slider-pro img.sp-layer {
  border: none;
}

/*! Lity - v2.2.2 - 2017-07-17
* http://sorgalla.com/lity/
* Copyright (c) 2015-2017 Jan Sorgalla; Licensed MIT */
.lity {
  z-index: 9990;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  background: #0b0b0b;
  background: rgba(0, 0, 0, 0.9);
  outline: none !important;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.lity.lity-opened {
  opacity: 1;
}

.lity.lity-closed {
  opacity: 0;
}

.lity * {
  box-sizing: border-box;
}

.lity-wrap {
  z-index: 9990;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  outline: none !important;
}

.lity-wrap:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.lity-loader {
  z-index: 9991;
  color: #fff;
  position: absolute;
  top: 50%;
  margin-top: -0.8em;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.lity-loading .lity-loader {
  opacity: 1;
}

.lity-container {
  z-index: 9992;
  position: relative;
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  white-space: normal;
  max-width: 100%;
  max-height: 100%;
  outline: none !important;
}

.lity-content {
  z-index: 9993;
  width: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.lity-loading .lity-content,
.lity-closed .lity-content {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.lity-content:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.lity-close {
  z-index: 9994;
  width: 35px;
  height: 35px;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-appearance: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 0;
  color: #fff;
  font-style: normal;
  font-size: 35px;
  font-family: Arial, Baskerville, monospace;
  line-height: 35px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  border: 0;
  background: none;
  outline: none;
  box-shadow: none;
}

.lity-close::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.lity-close:hover,
.lity-close:focus,
.lity-close:active,
.lity-close:visited {
  text-decoration: none;
  text-align: center;
  padding: 0;
  color: #fff;
  font-style: normal;
  font-size: 35px;
  font-family: Arial, Baskerville, monospace;
  line-height: 35px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  border: 0;
  background: none;
  outline: none;
  box-shadow: none;
}

.lity-close:active {
  top: 1px;
}

/* Image */
.lity-image img {
  max-width: 100%;
  display: block;
  line-height: 0;
  border: 0;
}

/* iFrame */
.lity-iframe .lity-container,
.lity-youtube .lity-container,
.lity-vimeo .lity-container,
.lity-facebookvideo .lity-container,
.lity-googlemaps .lity-container {
  width: 100%;
  max-width: 964px;
}

.lity-iframe-container {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  overflow: auto;
  pointer-events: auto;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-overflow-scrolling: touch;
}

.lity-iframe-container iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

.lity-hide {
  display: none;
}

@font-face {
  font-family: OpenSansLight;
  src: url("/fonts/open-sans.light.ttf");
}

@font-face {
  font-family: OpenSans;
  src: url("/fonts/open-sans.regular.ttf");
}

@font-face {
  font-family: OpenSansBold;
  src: url("/fonts/OpenSans-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: OpenSansItalic;
  src: url("/fonts/OpenSans-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: OpenSansLight;
  src: url("/fonts/OpenSans-Light.ttf");
}

.purple-content, .orange-content, .yellow-content, .red-content {
  padding-top: 20px;
}

.blue-content, .green-content {
  padding-top: 13px;
}

h1, h2, a, p {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

.red-thumbnail {
  background: #FF0014;
}

.orange-thumbnail {
  background: #FF7523;
}

.yellow-thumbnail {
  background: #FFDD3C;
}

.green-thumbnail {
  background: #009923;
}

.blue-thumbnail {
  background: #1D2CF8;
}

.purple-thumbnail {
  background: #CA1697;
}

.header__logos .wrap {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.header__logos .wrap ul {
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
}

.header__logos .wrap ul li a {
  text-decoration: none;
  color: white;
}

.header__logos .wrap ul li a img {
  width: 5em;
  height: auto;
  margin: 0 20px;
}

.header__logos .wrap ul li a img:first-child {
  margin: 0 20px 0 0;
}

.header__logos .wrap ul li a img:last-child {
  margin: 0 0 0 20px;
}

.header__main-nav {
  background: black;
  height: 90px;
}

.header__main-nav .wrap {
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.header__main-nav .wrap .header__main-nav__content {
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row;
  -webkit-box-align: center;
  align-items: center;
}

.header__main-nav .wrap .header__logo {
  width: 235px;
  height: 85px;
}

.header__main-nav .wrap ul {
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
}

.header__main-nav .wrap ul li {
  font-family: OpenSansBold;
  color: white;
  text-transform: uppercase;
  margin-right: 20px;
}

.header__main-nav .wrap ul li a {
  text-decoration: none;
  color: white;
  transition: 0.1s ease-in-out;
}

.header__main-nav .wrap ul li a:hover {
  color: #FF7523;
}

.header__main-nav .wrap ul li:first-child {
  margin-left: 45px;
}

.header__main-nav .language-switch a {
  text-decoration: none;
  color: white;
  transition: 0.1s ease-in-out;
  font-family: OpenSansBold;
}

.header__main-nav .language-switch a:hover {
  color: #FF7523;
}

.header__mobile-nav {
  position: absolute;
  right: 20px;
  height: 46px;
  width: 46px;
}

.header__mobile-nav .menu-link {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1002;
}

.header__mobile-nav .menu-icon {
  position: absolute;
  width: 20px;
  height: 14px;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 1px;
}

.header__mobile-nav .menu-circle {
  background: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  -webkit-transform: scale(1);
  transform: scale(1);
  z-index: 1000;
  transition: all 0.2s ease-in-out;
}

.header__mobile-nav .menu-open .menu-circle {
  -webkit-transform: scale(60);
  transform: scale(60);
}

.header__mobile-nav .menu.open .menu-line-2 {
  opacity: 0;
}

.header__mobile-nav .menu.open .menu-line-1 {
  -webkit-transform: translateY(7px) translateY(-50%) rotate(45deg);
  transform: translateY(7px) translateY(-50%) rotate(45deg);
}

.header__mobile-nav .menu.open .menu-line-3 {
  -webkit-transform: translateY(-7px) translateY(50%) rotate(45deg);
  transform: translateY(-7px) translateY(50%) rotate(45deg);
}

.header__mobile-nav .menu-line {
  background: #fff;
  height: 2px;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  left: 0;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.header__mobile-nav .menu-line-1 {
  top: 0;
}

.header__mobile-nav .menu-line-2 {
  top: 0;
  bottom: 0;
  margin: auto;
}

.header__mobile-nav .menu-line-3 {
  bottom: 0;
}

.header__mobile-nav .menu:hover .menu-circle {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

.header__mobile-nav .menu-overlay {
  visibility: hidden;
  opacity: 0;
  background: #333;
  color: #fff;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  position: fixed;
  text-align: center;
  z-index: 1001;
  transition: visibility 0.2s linear 300ms, opacity 300ms;
}

.header__mobile-nav .menu-overlay a {
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  font-family: OpenSansBold;
  text-decoration: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
  -webkit-box-align: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
  font-size: 32px;
  margin: 6% 0% 0;
  transition: 0.1s ease-in-out;
}

.header__mobile-nav a:hover {
  color: #FF7523;
}

.header__mobile-nav .menu-overlay.open {
  opacity: 1;
  visibility: visible;
  transition: visibility 0.2s linear 0ms, opacity 300ms;
}

.header__sub-nav {
  background-color: #FF6520;
}

.header__sub-nav .wrap {
  height: 30px;
}

.header__sub-nav .wrap ul {
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.header__sub-nav .wrap ul li {
  font-family: OpenSans;
  color: white;
  text-transform: uppercase;
}

.header__sub-nav .wrap ul li:first-child {
  margin-right: 20px;
}

.header__sub-nav .wrap ul li a {
  text-decoration: none;
  color: white;
  transition: 0.1s ease-in-out;
  font-family: OpenSansBold;
}

.header__sub-nav .wrap ul li a:hover {
  color: #000;
}

.wrap {
  width: 1070px;
  margin: 0 auto;
}

.footer-gradient {
  height: 15px;
  width: 100%;
  background: #f97624;
  background: -webkit-gradient(left top, right top, color-stop(0%, #f97624), color-stop(50%, #0e36f8), color-stop(100%, #f00e1e));
  background: linear-gradient(to right, #f97624 0%, #0e36f8 50%, #f00e1e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f97624', endColorstr='#f00e1e', GradientType=1 );
}

.footer__logos .wrap {
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.footer__logos .wrap ul {
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
}

.footer__logos .wrap ul img {
  width: 6em;
  height: auto;
  margin: 25px 20px;
}

.footer__logos .wrap p {
  font-size: 12px;
}

.footer__text .wrap {
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.text-container {
  padding-top: 1px;
  background: #EDEDED;
  box-shadow: 0px 15px 37px -6px rgba(0, 0, 0, 0.29);
}

.text-container h1 {
  text-align: center;
  font-family: OpenSansLight;
  font-weight: 100;
}

.content-container {
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  font-size: 14px;
  font-family: OpenSansLight;
  padding-bottom: 50px;
}

.content-container p {
  padding: 20px;
}

.video-container {
  padding-bottom: 50px;
  box-shadow: 0px 15px 37px -6px rgba(0, 0, 0, 0.29);
}

.video-container .wrap {
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.video-container h1 {
  text-align: center;
  font-family: OpenSansLight;
  font-weight: 100;
}

.video-container h2 {
  font-family: OpenSansBold;
  font-size: 16px;
}

.video-container p {
  font-family: OpenSansLight;
  font-size: 12px;
  width: 260px;
}

.red-thumbnail, .orange-thumbnail, .yellow-thumbnail, .green-thumbnail, .blue-thumbnail, .purple-thumbnail {
  text-align: center;
  font-family: OpenSansBold;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  padding-bottom: 30px;
}

.sp-thumbnails-container {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.sp-thumbnail-container {
  height: 80px !important;
  transition: 0.2s ease;
}

.sp-selected-thumbnail {
  height: 100px !important;
}

.sp-thumbnail-container:hover {
  height: 100px !important;
}

.sp-thumbnail-container:hover .red-thumbnail, .sp-thumbnail-container:hover .orange-thumbnail, .sp-thumbnail-container:hover .yellow-thumbnail, .sp-thumbnail-container:hover .green-thumbnail, .sp-thumbnail-container:hover .blue-thumbnail, .sp-thumbnail-container:hover .purple-thumbnail {
  padding-bottom: 40px;
}

.sp-thumbnails {
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: end;
  align-items: flex-end;
}

.video-item a {
  overflow: hidden;
  display: block;
}

.video-item a img {
  height: 175px;
  width: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  transition: all 0.3s;
}

.video-item a:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media screen and (max-width: 1149px) {
  .wrap {
    width: 710px;
    margin: 0 auto;
  }
  .header__main-nav__content ul, .header__main-nav__content li {
    display: none !important;
  }
  .language-switch {
    display: none !important;
  }
  .video-container .wrap {
    display: -webkit-box;
    display: flex;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column;
    -webkit-box-align: center;
    align-items: center;
  }
}

@media screen and (min-width: 1150px) {
  .menu-link {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .wrap {
    width: 680px;
  }
  .header__logos {
    display: none;
  }
  .header__main-nav .wrap .header__logo {
    width: 150px;
    height: 85px;
  }
  .content-container {
    font-size: 13px;
  }
  .content-container p {
    margin-right: 25px;
  }
  .video-container .wrap {
    display: -webkit-box;
    display: flex;
    display: -webkit-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
  }
  .video-container .video-item img {
    margin-right: 30px;
    margin-left: 30px;
  }
  .video-container .video-item h2 {
    font-size: 12px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .video-container .video-item p {
    padding-left: 30px;
  }
}

@media screen and (max-width: 425px) {
  .wrap {
    width: 370px;
  }
  .text-container h1 {
    font-size: 1.4em;
  }
  .video-container h1 {
    font-size: 1.2em;
  }
  .header__logos {
    display: none;
  }
  .header__main-nav__content__logo {
    margin-left: 2.5em;
  }
  .header__sub-nav {
    display: none;
  }
  .slider-pro {
    display: none;
  }
  .footer__logos .wrap ul img {
    width: 2em;
    height: auto;
    margin: 20px 15px;
  }
}

.nav__main a {
  text-decoration: none;
  color: white;
}

.nav__main li {
  font-family: OpenSansBold;
  text-transform: uppercase;
  color: white;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 2.2em;
}

.nav__main .language-switch {
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row;
  margin-left: 30%;
}

.nav__main .language-switch li {
  margin-left: 1em;
  margin-right: 1em;
}

.nav__sub {
  height: 3em;
  width: 100%;
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  background-color: #FF6520;
}

.nav__sub li {
  font-family: OpenSans;
  color: white;
  text-transform: uppercase;
}

.nav__sub a {
  text-decoration: none;
  color: white;
}

.nav__sub .nav__sub--links {
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  margin-top: 0.7em;
  margin-right: 10em;
}

.header__logos .wrap {
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sp-slides-container {
  box-shadow: 0px 5px 37px -6px rgba(0, 0, 0, 0.29);
}

.sp-bottom-thumbnails {
  margin-top: -80px;
}

.sp-bottom-thumbnails .sp-thumbnail-container, .sp-top-thumbnails .sp-thumbnail-container {
  margin-left: 0px;
  margin-right: 0px;
}

/*# sourceMappingURL=app.css.map */
