//Vendor CSS
@import "vendors/normalize";
@import "vendors/slider";
@import "vendors/lity";

// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

//Base Imports
@import "base/typography";
@import "base/colors";

// Variables
@import "helpers/variables";

//Layout
@import "layout/header";
@import "layout/footer";
@import "layout/content.scss";

//HTML Elements
@import "components/navigation";
@import "components/lists";

.sp-slides-container {
  box-shadow: 0px 5px 37px -6px rgba(0, 0, 0, 0.29);
}

.sp-bottom-thumbnails {
  margin-top: -80px;
}

.sp-bottom-thumbnails .sp-thumbnail-container, .sp-top-thumbnails .sp-thumbnail-container {
  margin-left: 0px;
  margin-right: 0px;
}


